<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザーリスト</h1>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <%= link_to(user_path(user)) do %>
            <img src="<%= "/user_images/#{user.image_name}" %>">
          <% end %>
        </div>
        <div class="user-right">
          <%= link_to(user.name, user_path(user)) %>
        </div>
      </div>
    <% end %>
  </div>
</div>